*{
    font-family: -apple-system, Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
    font-family: 'Pontano Sans','Maven Pro','Helvetica','Arial',sans-serif;
    font-size: 12pt;
    color: #000;
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}
}

@font-face {
    font-family: 'origins';
    src: url('origins.ttf');
}

/* HEADER */

#sitename {
    font-family: 'origins','Helvetica','Arial',sans-serif;
    font-size: 40pt;
    line-height: 64px;
    position: fixed;
    color: #FFF;
    top: 0px;
    right: 36px;
    z-index: 1;
}

#sitename a {
    text-decoration: none;
    font-weight: normal;
    color: #FFF;
}

#siteslogan {
    font-size: 7.5pt;
    position: fixed;
    color: #CCC;
    top: 51px;
    right: 36px;
    z-index: 1;
}

#topmenu {
    position: fixed;
    background: #333 url('/img/domokitten.png') no-repeat top left;
    width: 100%;
    height: 5rem;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}

#topmenu ul {
    padding-left: 201px;
    margin-top: 35px;
    list-style: none;
}

#topmenu ul li {
    text-align: center;
}

#topmenu ul li a {
    float: left;
    padding: 10px;
    color: #999;
    font-weight: normal;
    text-decoration: none;
    display: block;
    width: 92px;
}

#topmenu ul li a:hover, #topmenu ul li a.selected {
    color: #FFF;
    font-weight: normal;
}

/* SIDE MENU */

#sidemenu {
    margin: 0px;
    left: 0px;
    float: left;
    width: 200px;
}

#sidemenu ul {
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}

#sidemenu ul li{
    padding: 5px 10px 5px 14px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#sidemenu ul li:hover{
    background: rgba(100,100,100,0.3);
}

#sidemenu ul li sh {
    /* font-family: 'origins','Helvetica','Arial',sans-serif; */
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    padding: 0;
    color: #999;
    font-size: 1.5rem;
    font-weight: bold;
}

#sidemenu ul li:has(sh){
    background: rgba(100,100,100,0.3);
    border-radius: 10px 10px 0 0;
    margin: 5px 0;
}

#sidemenu ul li a {
    color: #333;
    line-height: 24px;
    text-decoration: none;
    display: block;
}

#sidemenu ul li a:hover {
    cursor: pointer;
}
/* 
#sidemenu ul li a:visited {
    color: #999;
} */

#sidemenu ul li a.selected {
    color: #006eff;
    font-weight: bold;
    position: relative;
}
#sidemenu ul li a.selected::before{
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -10px;
    width: 3px;
    border-radius: 1.5px;
    background-color: #006eff;
}
/* 
#sidemenu ul li a:visited:hover {
    color: #CCC;
} */

/* Darkmode for side menu */
@media screen and (prefers-color-scheme: dark) {
	#sidemenu ul li a {
		color: #fff;
	}
}

/* TEXT CONTAINER */

#content {
    /* top right bottom left */
    margin: 110px 36px 20px 236px;
}

#content h1 {
    font-size: 2rem;
    font-weight: bold;
}

#content h1 star {
    font-size: 10pt;
    color: #333;
    vertical-align: top;
}

#content h1 star not {
    color: #EEE;
    vertical-align: top;
}

#content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #999;
}

#content ul li {
    line-height: 24px;
    text-decoration: none;
    display: block;
}

#content a {
    color: #006eff;
    text-decoration: none;
}

#content a:hover {
    color: #CCC;
}

/* pre {
	width: calc(100vw - 280px);
} */

pre.standalone {
    font-family: 'Inconsolata','Monaco','Andale Mono','Courier New',monospace;
    background-color: #EEE;
    line-height: 100%;
    padding: 20px 10px 10px 10px;
}

code {
  overflow-x: auto;
}

dl dt {
    font-size: 13.5pt;
    font-weight: normal;
    color: #333;
    margin-top: 16px;
}

/* STUFF FROM THE OLDEN DAYS */

/* DISCUSS */

#discuss {
    display: none;
    position: relative;
    font-style: italic;
    text-align: right;
    margin: 10px;
}

#discuss a {
    color: #888888;
    text-decoration: none;
}

#discuss a:hover {
    color: blue;
}

/* HALL OF FAME */

#otwhof {
    position: absolute;
    /*right: 30px;
    top: 160px;*/
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

#sshinfo {
    color: white;
    background-color: black;
    font-size: 1rem;
    margin-left: 0;
    box-sizing: border-box;
    padding: 10px 15px;

    border-radius: 8px;
}

#sshinfo sh {
    font-weight: bold;
    font-size: 1.2rem;
}

.updatedmarkercontainer {
    position: relative;
}

.updatedmarker {
}

.updatedmarker-active {
    position: absolute;
	right: 0px;
	top: -18px;
    color: #fff;
	font-size: 0.9rem;
    font-family: -apple-system, Arial, Helvetica, sans-serif;

    border-radius: 4px;
    background: #006eff;
    padding: 0 4px;
}
.updatedmarker-active:before {
	content: "updated";
}

.donations-container {
	display: flex;
}

.donation {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
    border-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
	flex: 1;
	height: 100px;
}

.donation img {
	max-width: 300px;
	max-height: 100px;
	align-self: center;
}

.donation.patreon {
	background-color: #f96854;
}

.donation.paypal {
}

#ircframe {
	width: calc(100vw - 280px);
	height: calc(100vh - 100px);
}

#shortcuts {
	display: flex;
	position: fixed;
	top: 80px;
	right: 10px;
}

#shortcuts div.button {
	border: 2px solid #00ff00;
	background-color: black;
	color: #00ff00;
    font-weight: bold;
    font-size: 15pt;

	margin: 5px;
	padding: 5px;
    border-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
	flex: 1;
	height: 20px;
	width: 70px;
}

#shortcuts a:link {
    text-decoration: none;
}


table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}



/*More stylings: */
header{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    background: rgba(25,25,25,0.8);
    backdrop-filter: blur(10px);
    padding: 0 1.1rem;
}
header h1{
    transition: 300ms;
}
header h1:active{
    transform: scale(0.95);
}
header h1 a.home-link{
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    transition: 300ms;
    position: relative;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 0.7rem;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(200,200,200);
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    transition: 250ms;
}
header nav ul li a:hover{
    /* color: white; */
    font-size: 1.5rem;
}
header nav ul li a.selected{
    font-size: 1.5rem;
    color: white;
}
#options{
    flex: auto;
    align-self: center;
    text-align: right;
}
#options button{
    height: 2rem;
    padding: 0 1rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 4px;
    margin: 0 3px;
    cursor: pointer;
    background-color: rgb(50,50,50);
    color: white;
    transition: 300ms;
}
#options button:hover{
    transform: scale(1.05);
}
#options button:active{
    transform: scale(0.95);
}
#options button.blue-btn{
    color: white;
    background-color: #006eff;
}
#sidemenu{
    padding: 10px;
    background: linear-gradient(to bottom, rgb(20,20,20), rgb(22,22,22));
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-sizing: border-box;
    width: 25vw;
    min-width: 260px;
    max-width: 320px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    overflow-y: auto;
}
#content{
    box-sizing: border-box;
    padding-top: 10px;
    margin: 0;
    margin-left: 280px;
    margin-right: 20px;
    font-size: 1.2rem;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
    margin: 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(50,50,50); 
    border-radius: 8px;
    border: 3px solid rgb(21,21,21);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(80,80,80); 
}