body {
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
    font-family: 'Pontano Sans','Maven Pro','Helvetica','Arial',sans-serif;
    font-size: 12pt;
    color: #000;
}

@font-face {
    font-family: 'origins';
    src: url('origins.ttf');
}

/* HEADER */

#sitename {
    font-family: 'origins','Helvetica','Arial',sans-serif;
    font-size: 40pt;
    line-height: 64px;
    position: absolute;
    color: #FFF;
    top: 0px;
    right: 36px;
    z-index: 1;
}

#sitename a {
    text-decoration: none;
    font-weight: normal;
    color: #FFF;
}

#siteslogan {
    font-size: 7.5pt;
    position: absolute;
    color: #CCC;
    top: 51px;
    right: 36px;
    z-index: 1;
}

#topmenu {
    position: absolute;
    background: #333 url('/img/domokitten.png') no-repeat top left;
    width: 100%;
    height: 73px;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}

#topmenu ul {
    padding-left: 201px;
    margin-top: 35px;
    list-style: none;
}

#topmenu ul li {
    text-align: center;
}

#topmenu ul li a {
    float: left;
    padding: 10px;
    color: #999;
    font-weight: normal;
    text-decoration: none;
    display: block;
    width: 92px;
}

#topmenu ul li a:hover, #topmenu ul li a.selected {
    color: #FFF;
    font-weight: normal;
}

/* SIDE MENU */

#sidemenu {
    margin: 0px;
    left: 0px;
    float: left;
    width: 200px;
}

#sidemenu ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

#sidemenu ul li sh {
    font-family: 'origins','Helvetica','Arial',sans-serif;
    color: #999;
    font-size: 16pt;
    line-height: 42px;
}

#sidemenu ul li a {
    color: #333;
    line-height: 24px;
    text-decoration: none;
    display: block;
}

#sidemenu ul li a:hover {
    color: #999;
}

#sidemenu ul li a:visited {
    color: #999;
}

#sidemenu ul li a.selected {
    color: #CCC;
}

#sidemenu ul li a:visited:hover {
    color: #CCC;
}

/* TEXT CONTAINER */

#content {
    /* top right bottom left */
    margin: 110px 36px 20px 236px;
}

#content h1 {
    font-size: 22pt;
    font-weight: normal;
}

#content h1 star {
    font-size: 10pt;
    color: #333;
    vertical-align: top;
}

#content h1 star not {
    color: #EEE;
    vertical-align: top;
}

#content h2 {
    font-size: 18pt;
    font-weight: normal;
    color: #999;
}

#content ul li {
    line-height: 24px;
    text-decoration: none;
    display: block;
}

#content a {
    color: #999;
    text-decoration: none;
}

#content a:hover {
    color: #CCC;
}

pre.standalone {
    font-family: 'Inconsolata','Monaco','Andale Mono','Courier New',monospace;
    background-color: #EEE;
    line-height: 100%;
    padding: 20px 10px 10px 10px;
}

dl dt {
    font-size: 13.5pt;
    font-weight: normal;
    color: #333;
    margin-top: 16px;
}

/* STUFF FROM THE OLDEN DAYS */

/* DISCUSS */

#discuss {
    display: none;
    position: relative;
    font-style: italic;
    text-align: right;
    margin: 10px;
}

#discuss a {
    color: #888888;
    text-decoration: none;
}

#discuss a:hover {
    color: blue;
}

/* HALL OF FAME */

#otwhof {
    position: absolute;
    /*right: 30px;
    top: 160px;*/
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

#sshinfo {
    color: white;
    background-color: black;
    font-size: 9pt;
    margin-left: 5px;
    padding: 4px;
    border: 1px solid #00ff00;
}

#sshinfo sh {
    color: #00ff00;
    font-size: 12pt;
}
