<!DOCTYPE html>
<html>
<head>
<link rel='shortcut icon' href='/img/favicon.ico' />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Inconsolata|Pontano+Sans|Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/highlightcode.css">
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/highlight.min.js"></script>
<script src="/js/otwcrap.js"></script>
<script src="/js/updatedmarkers.js"></script>
{% if page.title != nil %}
<title>OverTheWire: {{page.title}}</title>
{% else %}
<title>OverTheWire</title>
{% endif %}
</head>
<body>
<div id="sitename"><a href="/">OverTheWire</a></div>
<div id="siteslogan">We're hackers, and we are good-looking. We are the 1%.</div>
<div id="topmenu">
    <ul>
    {% include menu_item.html link="/wargames/" name="Wargames" %}
    {% include menu_item.html link="/warzone/" name="Warzone" %}
    {% include menu_item.html link="/information/donate.html" name="Information" %}
    </ul>
</div>
{% if page.listgames != nil %}
{% include games.md %}
{% endif %}
{% if page.listwarzone != nil %}
{% include warzone.md %}
{% endif %}
{% if page.listinformation != nil %}
{% include information.md %}
{% endif %}
{% if page.gamename != nil %}
<div id="sidemenu"></div>
<script>renderLevelsMenu("{{page.gamename}}");</script>
{% endif %}
<div id="content">
{% if page.level != nil %}
<div id="title"></div>
<script>renderLevelTitle("{{page.gamename}}", {{page.level}});</script>
{% endif %}
{{ content }}
</div>

<div id="shortcuts">
	<a href="/information/donate.html"><div class="button">Donate!</div></a>
	<a href="/information/irc.html"><div class="button">Help!?</div></a>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2560031-3");
pageTracker._trackPageview();
} catch(err) {}</script>
<script src="/js/updatedmarkers-logic.js"></script>
</body>
</html>

